div.pokemonCard{
    height: 700px;
    width: 400px;
    margin-right: 15px;
    margin-top: 15px;
    display:inline-flex;
    flex-direction: column;
    position: inherit;
}

#randomPokemon{
    margin-top: 25px;
}

span{
    font-family: Impact;
}

nav{
    background-color: Red;
}

img{
    background-color: lightgrey;
    height: 65%;
    width: 100%;
}

span#pokeName{
    position: inherit;
    font-size: 1.5vw;
    margin-top: 25px;
}


.typeBox{
    position: inherit;
    height: 40px;
    width: 200px;
    -webkit-text-fill-color: white;
    text-align: center;
    vertical-align: center;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    font-size: 1.5vw;
}