body{
    background-color: 	#28282B;
}
h3{
    font-family: Impact, serif;
    text-align: center;
    vertical-align: center;
}

span{
    -webkit-text-fill-color: white;
    font-size: 1.5vw;
}

.navbar{
    background-color: #343434;
}

.left-align{
    margin-left: 5%;
}

p1{
    -webkit-text-fill-color: white;
    position: center;
}

.netShow{
    display:inline-flex;
    position: inherit;
    flex-direction: column;
    margin-right: 20px;
}

.searchShow{
    height: 100px;
    width: 100px;
}

.searchResults{
    position: inherit;
    flex-direction: column;
}
#seasonRes{
    position: inherit;
    flex-direction: column;
}

select.caret {
    fill: white;
}

#displaySeason{
    -webkit-text-fill-color: red;
}
